---
import Layout from '../layouts/Layout.astro';
import Button from '../components/UI/Button.astro';
---

<Layout title="404 - Página no encontrada">
    <div class="flex-center flex-col h-screen text-center p-4">
        <h1 class="text-display mb-4">404</h1>
        <p class="text-lg mb-8">Lo sentimos, la página que buscas no existe.</p>
        <Button href="/" variant="primary">Volver al Inicio</Button>
    </div>
</Layout>
