---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import LogoTicker from '../components/LogoTicker.astro';
import Services from '../components/Services.astro';
import Work from '../components/Work.astro';
import Philosophy from '../components/Philosophy.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Algoritmia | Desarrollos" description="En Algoritmia somos tu socio digital para llevarte de donde estás, a donde mereces estar. Expertos en Desarrollo Web, Marketing y Estrategia para escalar negocios online.">
  <Header />
  <main>
    <Hero />
    <LogoTicker />
    <Services />
    <Work />
    <Philosophy />
    <Contact />
  </main>
  <Footer />
</Layout>
