---
import Layout from '../layouts/Layout.astro';
import HeaderAds from '../components/ads/HeaderAds.astro';
import HeroAds from '../components/ads/HeroAds.astro';
import ProcessAds from '../components/ads/ProcessAds.astro';
import Qualification from '../components/ads/Qualification.astro';
import ContactAds from '../components/ads/ContactAds.astro';
import FooterAds from '../components/ads/FooterAds.astro';
import Work from '../components/Work.astro';

// We reuse Work component as requested ("quiero que en casos de extiso lo dejes como esta exacto en la otra pagina")
// We use HeaderAds for the centered navbar with logo.
---

<Layout title="Algoritmia Ads | Escalamos Tu Negocio" description="Gestión de Meta Ads y Estrategia Creativa para negocios que quieren escalar. Resultados predecibles.">
  
  <HeaderAds />

  <main>
    <HeroAds />
    <ProcessAds />
    <Work /> 
    <Qualification />
    <ContactAds />
  </main>
  
  <FooterAds />
</Layout>
